
#profile-img{
    border-radius: 50%;
    float: right;
}

#home .container{
    margin-top: 25px;
}
#about{
    padding: 0;
}
.blinking {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}